/* Style sheet for trilogy project */

body {
    background-color: transparent!important;
}

.uk-button-primary {
    background-color: transparent!important;
    color: black !important;
}

.uk-dropdown {
    background-color: #B4DDF1 !important;
    color: black !important;
}


#logo {
    height: 25%;
    width: 25%;
}

/* .uk-cover-object{
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
        
} */

#video-background{
    position: fixed;
    object-fit: cover;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    background-color: black;
}

.uk-position-bottom{
    margin: 0, auto;
}

.uk-legend{
    color:white !important;
}

#navButton{
    margin-left: 1%;
    margin-top: 1%;
}


#eatInformation, #drinkInformation, #liveInformation{
    background: rgba(255, 255, 255, 0.9);
    color: black;
}

#accurateContainer {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

#accurateLocation{
    background: rgba(255, 255, 255, 0.9);
    color: black;
    text-align: center;
    position: sticky;
    top: 50%;
    float: right;
    width: 360px;
    margin-right: 50px;
}

.eventinfo {
    text-align: justify;
   }


.uk-container {
    clear: inherit;
}

.truncate {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }


  .center1 {
    text-align: justify;
  }

.p1 {
      
    padding: 10px;

  }

.commentBox {
    width: 960px;
}


#Zsubmit, #Zselection {
    background-color: gray;
}

#loadMore{
    background-color: gray;
    text-align: center;
}

#recentReviews div.uk-card-secondary{
    width: 30%;
    height: auto;
    margin: 5px;
}

#slideshow {
    margin: 80px auto;
    position: relative;
    width: 500px;
    height: 240px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
  }
  
  #slideshow > div {
    position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 10px;
  }
