/* Style sheet for trilogy project */
#video-background{
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
}

.uk-navbar-nav>li.uk-active>a {
    color: #333;
    font-size: x-large;
}

.uk-navbar-nav>li>a {
    color: #999;
    text-transform: uppercase;
    transition: .1s ease-in-out;
    transition-property: color,background-color;
    font-size: xx-large;
}