/* Style sheet for trilogy project */

body {
    background-color: transparent!important;
}

.uk-button-primary {
    background-color: #B4DDF1 !important;
    color: black !important;
}

.uk-dropdown {
    background-color: #B4DDF1 !important;
    color: black !important;
}


#logo {
    height: 25%;
    width: 25%;
}

#video-background{
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
}

.uk-position-bottom{
    margin: 0, auto;
}

#navButton{
    margin-left: 1%;
    margin-top: 1%;
}


#eatInformation, #drinkInformation, #liveInformation{
    background: rgba(255, 255, 255, 0.9);
    color: black;
}

#accurateContainer {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

#accurateLocation{
    background: rgba(255, 255, 255, 0.9);
    color: black;
    text-align: center; 
}

.truncate {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }


  .center1 {
    text-align: justify;
  }